
.w-15 { width: 150px; }

.lang-container {
  display: flex;
  margin: 1rem;
  align-items: center;
  width: 100%;
  padding-bottom: .1rem;
  padding-right: 0;
  margin-left: 1rem;
}

  #s2-2-2 {
    margin-left: 0;
    margin-right: 1rem;
}

#s2-2-1 {
  /* margin-left: 5rem; */
  margin-right: 3rem;
  line-height: 2rem
}

#s2-2 {
  width: 100vw;
  height: auto;
  background: #f7f6f6;
  font-size: 1.2rem;
  }


  
#s2-1-2 {
  width: 60%;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.s3 {
  width: 100vw;
  height: auto;
  background: var(--primary-color);
  padding-top: 8rem;
}

.s3 h1 {
  font-size: 1.5rem;
}

.s3-1 p {
  font-size: 1rem;
  padding-bottom: 5rem;
}

.s3-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
  grid-gap: 3%;
  width: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.s3-3 {
  width: 100%;
  height: auto;
  }

  .s2 {
    width: 100vw;
    height: auto;
  }

  #s2-3 h1 {
    color: #ff8c66;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding-bottom: 1rem;
  }

  .dark ul li {
    color: black !important;
  }



  .footer-container p {
    text-align: left;
    font-size: 1rem;
    text-align: center;
  }

  .copy {
    margin-left: 2rem;
    text-align: center;
  }

  .social-icons {
    list-style: none;
    margin-right: .5rem;
    display: inline;
    text-align: right;
    margin-right: 2rem;
    padding-right: 1rem;
    }

    .social {
      text-align: right;
    }
    
    .social .rotate {
      margin: 0 .2rem;
      padding: 0 .2rem;
     }

     .social ul {
      display: inline;
     }
  
     .social li a {
      font-size: 2rem;
      color: black;
      float: right;
      text-decoration: none;
      margin: .3rem;
      display: block;
      padding: 0 .4rem;
     }

     .s3-3 {
      margin: 0;
      padding: 0;
      margin-top: 4rem;
      height: auto;
      }

/* Mobile */

@media(max-width: 800px) {

  .dark ul li {
    color: black;
  }
  
  .navbar {
    z-index: 1;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    display: flex;
    vertical-align: middle;
    margin: 1rem;
  }

  .navbar ul { 
    display: inline-block;
    padding: 1.14rem;
    position: relative;
    color: white;
    width: auto;
  }

  .navbar ul li { 
    display: inline-block;
    padding: .5rem;
    position: relative;
    color: white;
    text-align: center;
  }

  .text-1 h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    padding: 1rem;
  }

  .s1 h6 {
    font-size: 1rem;
    text-align: center;
  margin-top: -15px;
  }

  .btn-1 {
    background-color: rgba(4,	194,	201, 0.7);
    color: white;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    font-size: .8rem;
    line-height: 1.1rem;
    margin: auto;
    border: none;
  }

  .btn-1 span {
    font-size: .8rem;
  }

  .down i {
    font-size: 1rem;
    color: black;
  }

  .s2 {
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  #s2-1 {
    width: 100vw;
    height: 35%;
    font-size: 1.2rem;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  #s2-1-1 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #f5f5f5;
    transition-property: height, width;
    transition-duration: 1s, 1s;
  }

  #s2-1-1 img:hover {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: #f5f5f5;
  }

  #s2-1-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }

  #s2-1-2 {
    width: 100%;
    display: block;
    margin: 0rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
  }

  
  #s2-2 {
    width: 100vw;
    height: auto;
    background: #f7f6f6;
    font-size: 1rem;
    /* padding-left: 1rem; */
    padding-right: 0rem;
    display: block;
  }

  .s2-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #s2-2-1 {
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 2rem
  }

  #s2-2 h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0rem;
    padding-top: 2rem;
  }

  .icons i {
    font-size: 1.5rem;
    text-align: center;
    color: #636363;
  }

  .w-15 { width: 15%; }

  .icons h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: .8rem
  }

  #percent {
    background: lightgray;
    height: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    margin-right: 1rem;
  }

  #s2-3 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    margin: auto;
  }

  #s2-3 h1 {
    color: #ff8c66;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    display: block;
    margin: auto;
    align-items: center;
    justify-items: center;
  }

  .logos img {
    height: 90px;
    transition: height 1s ease;
  }

  .logos img:hover {
    height: 110px;
  }

  .logos > div {
    padding: 1rem;
  }

  .s3 {
    width: 100vw;
    height: auto;
    background: var(--primary-color);
    display: block;
    padding-top: 2rem;
  }

  .s3-1 {
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  
  .s3 h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  
  .s3-1 p {
    font-size: 1.2rem;
    margin-bottom: 0rem;
    padding-left: 1rem;
  }

  .s3-2 {
    /* width: 100%; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(90, 90, 90);
    position: relative;
    align-items: center;
    margin: 0rem;
  }

  #car {
    top: -10px;
    left: -10px;
  }

  .s3-2 .img-container {
    height: 230px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgb(90, 90, 90);
    position:relative;
  }

  .s3-2 .text-description {
    font-size: 1rem;
    padding: 1rem;
  }

  .s3-2 .text-description p {
    font-size: 1rem;
  }

  .s3-2 img {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    transition: transform 1s ease;
  }

  .btn-2 span {
    font-size: 1rem;
  }
  
  .btn-2:hover {
  background: var(--secondary-color);
  color: white;
  }
  
  .btn-2:active {
    background: #cc6f50;
    }
  
  .bottom {
    bottom: 2rem;
    position: absolute;
    text-align: center;
    width: 100%
  }
  
  .btn-2 {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background: white;
    height: 35px;
    width: 200px;
    border-radius: 50px;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
    margin: 0;
    transition: .7s ease;
  }

    .btn-3 {
      color: white;
      background: var(--secondary-color);
      height: 50px;
      width: 250px;
      border-radius: 50px;
      font-size: 1.2rem;
      line-height: 1.1rem;
      text-align: center;
      transition: .7s ease;
      box-shadow: 1px 1px 3px rgb(90, 90, 90);
    }
    
.btn-3:hover {
  background: var(--grey-color);
  color: white;
  }
      
  .btn-3:active {
    background: rgb(70, 70, 70);
    }
    
    .s4-text-container {
      margin: 0rem;
      padding: 1rem;
    }
    

    .s4 {
      width: 100vw;
      height: auto;
      padding: 0rem;
    }
  
  .s4-text-container {
    margin: 1rem 2rem;
  }


  .contact-form {
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: .5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    max-width: auto;
    margin: 2rem;
    margin-bottom: 6rem;
  }

  input[type=submit] {
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: white;
    cursor: pointer;
    width: 200px;
    height: 30px;
    font-size: 1.1rem;
    transition: .7s ease;
    margin-bottom: .5rem;
  }

  .footer-container {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: rgb(214, 214, 214);
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .footer-container p {
    text-align: left;
    font-size: .7rem;
    text-align: center;
  }

  .copy {
    margin-left: 2rem;
    text-align: center;
  }

  .social-icons {
    width: 100%;
    list-style: none;
    margin-right: .5rem;
    display: inline;
    text-align: right;
    margin-right: 2rem;
    }

    .social {
      text-align: right;
      margin-right: 2rem;
    }
    
    .social .rotate {
      margin: 0 .2rem;
      padding: 0 .2rem;
     }

     .social ul {
      display: inline;
     }
  
     .social li a {
      font-size: 1.5rem;
      color: black;
      float: right;
      text-decoration: none;
      margin: .3rem;
      display: block;
      padding: 0 .3rem;
     }

     .s3-3 {
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      height: auto;
      }

}
